.input {
    padding-top: 80px;
}

.calendar {
    text-align: center;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center; 
}

.date {
    margin-left: 20px
}